# Part I. ETL Pipeline for Pre-Processing the Files

#### Importing packages

In [8]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
#print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [5]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables

csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [6]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Apache Cassandra coding

#### Creating a Cluster

In [1]:
# This should make a connection to a Cassandra instance on local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster(['127.0.0.1'])

session = cluster.connect()

#### Create Keyspace

In [2]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkifydb
    WITH REPLICATION =
    { 'class': 'SimpleStrategy', 'replication_factor' : 1}""")

except Exception as e:
    print(e)

#### Set Keyspace

In [3]:
try:
    session.set_keyspace('sparkifydb')
except Exception as e:
    print(e)

## Creating queries to ask the following three questions of the data:

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [32]:
## Query 1:  Give me the artist, song title and song's length in the music app history(table artist_songs)
## that was heard during sessionId = 338, and itemInSession = 4

query1 = ("""SELECT artist, song_title, songs_length
             FROM artist_songs
             WHERE sessionId = 338 AND itemInSession = 4""")

try:
    session.execute("DROP TABLE IF EXISTS artist_songs")
except Exception as e:
    print(e)


query = ("CREATE TABLE IF NOT EXISTS artist_songs")
query = query + ("(sessionId int, itemInSession int, artist text, song_title text, songs_length float, \
                    PRIMARY KEY(sessionId, itemInSession))")
try:
    session.execute(query)
except Exception as e:
    print(e)

In [33]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:

        query = "INSERT INTO artist_songs (sessionId, itemInSession, artist, song_title, songs_length)"
        query = query + "VALUES (%s, %s, %s, %s, %s)"
        ## Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, ( int(line[8]), int(line[3]), line[0], line[9], float(line[5])))

#### SELECT to verify that the data have been inserted into each table

In [68]:
try:
    rows = session.execute(query1)
except Exception as e:
    print(e)
    
output = pd.DataFrame(rows)
output.head()

      artist                       song_title  songs_length
0  Faithless  Music Matters (Mark Knight Dub)    495.307312

In [71]:
## Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182
query2 = ("""SELECT artist, song_title, firstname_user, lastname_user 
             FROM artist_song_username
             WHERE user_id = 10 AND session_id = 182 """)

In [72]:
try:
    session.execute("DROP TABLE IF EXISTS artist_song_username")
except Exception as e:
    print(e)
    
try:
    query = ("CREATE TABLE IF NOT EXISTS artist_song_username")
    query = query + ("( user_id int, session_id int, itemInSession int, \
                        firstname_user text, lastname_user text,\
                        artist text, song_title text, \
                        PRIMARY KEY (( user_id, session_id), itemInSession))")
    session.execute(query)
except Exception as e:
    print(e)

In [73]:
file = ('event_datafile_new.csv')
with open (file, encoding= 'utf-8') as f:
    csvreader = csv.reader(f)
    next (csvreader)
    for line in csvreader:
        
        query = "INSERT INTO artist_song_username ( user_id, session_id, itemInSession, firstname_user, lastname_user, artist, song_title)"
        query = query + ("VALUES (%s, %s, %s, %s, %s, %s, %s)")
        session.execute(query, (int(line[10]), int(line[8]), int(line[3]),  line[1], line[4], line[0], line[9]))

In [75]:
try:
    rows= session.execute(query2)
except Exception as e:
    print(e)

output2 = pd.DataFrame(rows)
output2.head()

,artist,song_title,firstname_user,lastname_user
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

In [4]:
## Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'
query3 = ("""SELECT firstname_user, lastname_user 
             FROM username_song 
             WHERE song_title = 'All Hands Against His Own' ;""")

In [5]:
try:
    session.execute("DROP TABLE IF EXISTS username_song ;")
except Exception as e:
    print(e)
    
try:
    session.execute("""CREATE TABLE IF NOT EXISTS username_song (song_title text, user_id int,
                            firstname_user text, lastname_user text,
                            PRIMARY KEY (song_title, user_id))""")
except Exception as e:
    print(e)

In [10]:
file = 'event_datafile_new.csv'

with open(file, encoding= 'utf-8') as f:
    csvreader = csv.reader(f)
    next (csvreader)
    for line in csvreader:
        query = "INSERT INTO username_song (song_title, user_id, firstname_user, lastname_user)" 
        query = query + ("VALUES (%s, %s, %s, %s)")
        session.execute(query , (line[9], int(line[10]), line[1], line[4] ))

In [11]:
try:
    rows = session.execute(query3)
except Exception as e:
    print(e)

output3 = pd.DataFrame(rows)
output3.head()

  firstname_user lastname_user
0     Jacqueline         Lynch
1          Tegan        Levine
2           Sara       Johnson

### Dropping the tables before closing out the sessions

In [12]:
try:
    session.execute("DROP TABLE IF EXISTS artist_songs;")
    session.execute("DROP TABLE IF EXISTS artist_song_username;") 
    session.execute("DROP TABLE IF EXISTS username_song;")
except Exception as e:
    print(e)

### Closing the session and cluster connection¶

In [13]:
session.shutdown()
cluster.shutdown()